language: swift
os: osx
osx_image: xcode9.2
script:
- xcodebuild -version
- source configure.sh && \
    xcodebuild \
      -project "${PROJ}" \
      -scheme "${SCHEME}" \
      -sdk iphonesimulator \
      -destination 'platform=iOS Simulator,name=iPhone 8,OS=11.2' \
      -enableCodeCoverage YES \
      test
- bash <(curl -s https://codecov.io/bash) -cF osx
