<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserManager.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3C5BD967972B340302A0CF7730DEF9340640F7F8</string>
				<key>dateExpires</key>
				<string>3/30/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>name</key>
			<string>UserManager.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C9XNX575S2</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
